---
layout: page
description: "Third World Nomad's Tech Blog"
title: "Tech Blog"
weight: 5
---

{% assign posts = site.posts | where: 'category', 'techblog' %}

{% for post in posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">            {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    {% unless forloop.last %}
        <hr>
    {% endunless %}
{% endfor %}
