---
import PageLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";
import Label from "../components/Label.astro";
import News from "../components/News.astro";
import news from "../assets/news.json";
import type { NewsPost } from "@/utils";

const interests = [
  "AI4Science",
  "Probabilistic Machine Learning",
  "Uncertainty Quantification",
  "Decision-Making Under Uncertainty",
];

const MAX_NEWS = 10;
const sortedNews = news
  .sort((post1: NewsPost, post2: NewsPost) => {
    return new Date(post2.date).getTime() - new Date(post1.date).getTime(); // descending
  })
  .slice(0, MAX_NEWS);
---

<PageLayout meta={{ title: "About" }}>
  <div class='flex max-w-[50rem] flex-col gap-y-10'>
    <section class='flex flex-col items-center gap-y-7'>
      <img
        src='img/portrait.jpg'
        alt='profile photo'
        class='h-28 w-auto rounded-full p-2'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>Agustinus Kristiadi</h1>

        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label
            title='Western University'
            as='a'
            href='https://csd.uwo.ca/people/faculty/bios/akristi.html'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 24 24'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                d='M9 7H5C3.89543 7 3 7.89543 3 9V18C3 19.1046 3.89543 20 5 20H19C20.1046 20 21 19.1046 21 18V9C21 7.89543 20.1046 7 19 7H15M9 7V5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7M9 7H15'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                data-darkreader-inline-stroke=''
                style='--darkreader-inline-stroke: var(--darkreader-text-000000, #f6e8d0);'
              ></path>
            </svg>
          </Label>
          <Label
            title='Vector Institute'
            as='a'
            href='https://vectorinstitute.ai/team/agustinus-kristiadi'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              class='h-5 w-5'
              slot='icon'
            >
              <g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                id='SVGRepo_tracerCarrier'
                stroke-linecap='round'
                stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                <path fill='currentColor' d='M15 3v10h-14v-10h14zM16 2h-16v12h16v-12z'
                ></path>
                <path fill='currentColor' d='M8 5h6v1h-6v-1z'></path>
                <path fill='currentColor' d='M8 7h6v1h-6v-1z'></path>
                <path fill='currentColor' d='M8 9h3v1h-3v-1z'></path>
                <path
                  fill='currentColor'
                  d='M5.4 7h-0.4v-0.1c0.6-0.2 1-0.8 1-1.4 0-0.8-0.7-1.5-1.5-1.5s-1.5 0.7-1.5 1.5c0 0.7 0.4 1.2 1 1.4v0.1h-0.4c-0.9 0-1.6 0.7-1.6 1.6v2.4h5v-2.4c0-0.9-0.7-1.6-1.6-1.6z'
                ></path>
              </g>
            </svg>
          </Label>

          <Label title='MC 362' as='a' href='https://maps.app.goo.gl/iemLXjCFZvVTZpNB7'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 24 24'
              class='h-5 w-5'
              slot='icon'
              ><path
                fill='currentColor'
                d='M22,7H17V2a1,1,0,0,0-1-1H8A1,1,0,0,0,7,2V7H2A1,1,0,0,0,1,8V22a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V8A1,1,0,0,0,22,7ZM3,9H7V21H3ZM9,8V3h6V21H13V19a1,1,0,0,0-2,0v2H9ZM21,21H17V9h4ZM13,7H11V5h2Zm0,4H11V9h2Zm0,4H11V13h2ZM4,10H6v2H4Zm0,4H6v2H4Zm0,4H6v2H4Zm16-6H18V10h2Zm0,4H18V14h2Zm0,4H18V18h2Z'
              ></path>
            </svg>
          </Label>

          <Label title='akristi[at]uwo.ca'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 18 18'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z'
              ></path>
              <path
                fill='currentColor'
                d='M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z'
              ></path>
            </svg>
          </Label>
        </div>

        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label
            title=''
            as='a'
            href='https://scholar.google.com/citations?user=_1qe2mYAAAAJ'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 24 24'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M10.93 2.045c-.547.366-3.22 2.14-5.938 3.945C2.272 7.794.05 9.286.05 9.304c0 .019.136.11.305.2.167.096 2.85 1.583 5.965 3.31l5.656 3.143.144-.074c.082-.04 2.169-1.232 4.642-2.642l4.493-2.568.027 7.947h2.668V9.319l-3.46-2.32c-4.664-3.124-8.392-5.586-8.484-5.606-.045-.008-.527.287-1.076.652M5.355 16.633l.014 2.005 3.31 1.987 3.31 1.982 3.337-2 3.332-2.005V16.62c0-1.092-.013-1.983-.027-1.983s-1.318.782-2.9 1.741l-3.306 1.996-.431.256-1.32-.791a604.12 604.12 0 0 1-3.286-1.979l-2.005-1.21c-.024-.008-.032.883-.027 1.983'
              ></path>
            </svg>
          </Label>

          <Label
            title=''
            as='a'
            href='https://www.linkedin.com/in/agustinus-kristiadi'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 32 32'
              class='h-5 w-5'
              slot='icon'
            >
              <g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                id='SVGRepo_tracerCarrier'
                stroke-linecap='round'
                stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                <path
                  fill='currentColor'
                  d='M28.778 1.004h-25.56c-0.008-0-0.017-0-0.027-0-1.199 0-2.172 0.964-2.186 2.159v25.672c0.014 1.196 0.987 2.161 2.186 2.161 0.010 0 0.019-0 0.029-0h25.555c0.008 0 0.018 0 0.028 0 1.2 0 2.175-0.963 2.194-2.159l0-0.002v-25.67c-0.019-1.197-0.994-2.161-2.195-2.161-0.010 0-0.019 0-0.029 0h0.001zM9.9 26.562h-4.454v-14.311h4.454zM7.674 10.293c-1.425 0-2.579-1.155-2.579-2.579s1.155-2.579 2.579-2.579c1.424 0 2.579 1.154 2.579 2.578v0c0 0.001 0 0.002 0 0.004 0 1.423-1.154 2.577-2.577 2.577-0.001 0-0.002 0-0.003 0h0zM26.556 26.562h-4.441v-6.959c0-1.66-0.034-3.795-2.314-3.795-2.316 0-2.669 1.806-2.669 3.673v7.082h-4.441v-14.311h4.266v1.951h0.058c0.828-1.395 2.326-2.315 4.039-2.315 0.061 0 0.121 0.001 0.181 0.003l-0.009-0c4.5 0 5.332 2.962 5.332 6.817v7.855z'
                ></path>
              </g>
            </svg>
          </Label>

          <Label
            title=''
            as='a'
            href='https://bsky.app/profile/agustinus.kristia.de'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 32 32'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M23.931,5.298c-3.21,2.418-6.663,7.32-7.931,9.951-1.267-2.631-4.721-7.533-7.931-9.951-2.316-1.744-6.069-3.094-6.069,1.201,0,.857,.49,7.206,.778,8.237,.999,3.583,4.641,4.497,7.881,3.944-5.663,.967-7.103,4.169-3.992,7.372,5.908,6.083,8.492-1.526,9.154-3.476,.123-.36,.179-.527,.179-.379,0-.148,.057,.019,.179,.379,.662,1.949,3.245,9.558,9.154,3.476,3.111-3.203,1.671-6.405-3.992-7.372,3.24,.553,6.882-.361,7.881-3.944,.288-1.031,.778-7.38,.778-8.237,0-4.295-3.753-2.945-6.069-1.201Z'
              ></path>
            </svg>
          </Label>

          <Label title='' as='a' href='https://x.com/akristiadi7' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='-3 -1 18 18'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'
              ></path>
            </svg>
          </Label>
          <Label title='' as='a' href='https://github.com/wiseodd' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              slot='icon'
              class='h-5 w-5 text-foreground/75'
            >
              <path
                fill='currentColor'
                d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8'
              ></path>
            </svg>
          </Label>
        </div>
      </div>
    </section>

    <Section title='About'>
      <p>
        Agustinus Kristiadi is an Assistant Professor in the <a
          href='https://csd.uwo.ca/'>Department of Computer Science</a
        > at <a href='https://uwo.ca'>Western University</a>, and a Faculty Affiliate at
        the <a href='https://vectorinstitute.ai'>Vector Institute</a>. Previously, he
        was a Distinguished Postdoctoral Fellow at the <a
          href='https://vectorinstitute.ai'>Vector Institute</a
        > and obtained his PhD from the <a href='https://uni-tuebingen.de'
          >University of Tuebingen</a
        > in Germany. His research interest is in <strong
          >solving scientific problems</strong
        > through <strong>uncertainty-aware machine learning algorithms</strong> and <strong
        >
          autonomous decision-making under uncertainty</strong
        >. His work has been recognized in the form of a best PhD thesis award and
        multiple spotlight papers from flagship machine learning conferences. His
        services to the scientific society include mentoring underrepresented students
        and actively contributing to the open-source community.
      </p>
    </Section>

    <Section title='Interests'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='flex w-4/5 flex-row flex-wrap gap-x-4 gap-y-2'>
          {
            interests.map((interest) => (
              <Button as='button' title={interest} style='pill' />
            ))
          }
        </div>
      </div>
    </Section>

    <hr />
    <Section title='Openings'>
      <div role='alert' class='alert alert-error alert-soft'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-6 w-6 shrink-0 stroke-current'
          fill='none'
          viewBox='0 0 24 24'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z'
          ></path>
        </svg>
        <span
          >Unfortunately, it wouldn't be possible for me to reply to all applications. I
          apologize in advance.</span
        >
      </div>

      <ul class='flex flex-col gap-y-5 sm:gap-y-4'>
        <li>
          I have <strong>NO</strong> openings for Postdoc, PhD, or MSc Thesis at this moment.
        </li>
        <li>
          For <strong>current Western CS MSc Course-Based students</strong>: I will have
          1 opening for directed study in Fall 2026. A necessary but not sufficient
          requirement is doing well in CS9840.
        </li>
        <li>
          For <strong>current Western undergrad students</strong>: I will have 1 opening
          for BSc Honours Thesis for Fall 2026. Doing great in DS3000 and CS4451 is a
          necessary prerequisite. Math and Stats students are welcome (make sure you can
          have a supervisor from CS), but you must be good at programming.
        </li>
      </ul>
    </Section>

    <hr />

    {
      sortedNews.length > 0 && (
        <Section title='News'>
          <ul class='flex flex-col gap-y-5 sm:gap-y-4'>
            {sortedNews.map((p) => (
              <News news={p} />
            ))}
          </ul>
        </Section>
      )
    }
  </div>
</PageLayout>
