---
import PageLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";
import Label from "../components/Label.astro";
import News from "../components/News.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { Image } from "astro:assets";

import portrait from "../assets/portrait.jpeg";
import news from "../assets/news.json";

import type { NewsPost } from "@/utils";

import { getAllPosts, sortMDByDate } from "@/utils";

const interests = [
  "Probabilistic Machine Learning",
  "Decision-Making",
  "AI4Science",
  "Riemannian Geometry",
];

const MAX_NEWS = 10;
const sortedNews = news
  .sort((post1: NewsPost, post2: NewsPost) => {
    return new Date(post2.date).getTime() - new Date(post1.date).getTime(); // descending
  })
  .slice(0, MAX_NEWS);

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "About" }}>
  <div class='flex max-w-[50rem] flex-col gap-y-10'>
    <section class='flex flex-col items-center gap-y-7'>
      <Image
        src={portrait}
        alt='profile photo'
        class='h-28 w-auto rounded-full p-2'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>Agustinus Kristiadi</h1>

        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label
            title='Vector Institute'
            as='a'
            href='https://vectorinstitute.ai/team/agustinus-kristiadi/'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 24 24'
              class='h-5 w-5'
              slot='icon'
              ><path
                fill='currentColor'
                d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
              ></path></svg
            >
          </Label>
          <Label title='agustinus[at]kristia.de'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 18 18'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z'
              ></path>
              <path
                fill='currentColor'
                d='M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z'
              ></path>
            </svg>
          </Label>

          <Label
            title='Google Scholar'
            as='a'
            href='https://scholar.google.com/citations?user=_1qe2mYAAAAJ'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 24 24'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M10.93 2.045c-.547.366-3.22 2.14-5.938 3.945C2.272 7.794.05 9.286.05 9.304c0 .019.136.11.305.2.167.096 2.85 1.583 5.965 3.31l5.656 3.143.144-.074c.082-.04 2.169-1.232 4.642-2.642l4.493-2.568.027 7.947h2.668V9.319l-3.46-2.32c-4.664-3.124-8.392-5.586-8.484-5.606-.045-.008-.527.287-1.076.652M5.355 16.633l.014 2.005 3.31 1.987 3.31 1.982 3.337-2 3.332-2.005V16.62c0-1.092-.013-1.983-.027-1.983s-1.318.782-2.9 1.741l-3.306 1.996-.431.256-1.32-.791a604.12 604.12 0 0 1-3.286-1.979l-2.005-1.21c-.024-.008-.032.883-.027 1.983'
              ></path>
            </svg>
          </Label>

          <Label
            title='@agustinus.kristia.de'
            as='a'
            href='https://bsky.app/profile/agustinus.kristia.de'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 32 32'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M23.931,5.298c-3.21,2.418-6.663,7.32-7.931,9.951-1.267-2.631-4.721-7.533-7.931-9.951-2.316-1.744-6.069-3.094-6.069,1.201,0,.857,.49,7.206,.778,8.237,.999,3.583,4.641,4.497,7.881,3.944-5.663,.967-7.103,4.169-3.992,7.372,5.908,6.083,8.492-1.526,9.154-3.476,.123-.36,.179-.527,.179-.379,0-.148,.057,.019,.179,.379,.662,1.949,3.245,9.558,9.154,3.476,3.111-3.203,1.671-6.405-3.992-7.372,3.24,.553,6.882-.361,7.881-3.944,.288-1.031,.778-7.38,.778-8.237,0-4.295-3.753-2.945-6.069-1.201Z'
              ></path>
            </svg>
          </Label>

          <Label
            title='@akristiadi7'
            as='a'
            href='https://x.com/akristiadi7'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='-3 -1 18 18'
              class='h-5 w-5'
              slot='icon'
            >
              <path
                fill='currentColor'
                d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'
              ></path>
            </svg>
          </Label>
          <Label
            title='wiseodd'
            as='a'
            href='https://github.com/wiseodd'
            target='_blank'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 16 16'
              slot='icon'
              class='h-5 w-5 text-foreground/75'
            >
              <path
                fill='currentColor'
                d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8'
              ></path>
            </svg>
          </Label>
        </div>
      </div>
    </section>

    <Section title='About'>
      <p>
        Agustinus Kristiadi is a postdoctoral fellow at the Vector Institute in Toronto,
        and previously obtained his PhD from the University of Tuebingen in Germany. His
        research interests are in probabilistic methods for large-scale neural networks,
        decision-making under uncertainty, and their applications in broader scientific
        fields such as chemistry. His work has been recognized in the form of best PhD
        thesis award and multiple spotlight papers from flagship machine learning
        conferences. His contributions to the scientific society include mentoring
        underrepresented students and actively contributing to the open-source
        community.
      </p>
    </Section>

    <Section title='Interests'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='flex w-4/5 flex-row flex-wrap gap-x-4 gap-y-2'>
          {
            interests.map((interest) => (
              <Button as='button' title={interest} style='pill' />
            ))
          }
        </div>
      </div>
    </Section>

    <hr />

    {
      sortedNews.length > 0 && (
        <Section title='News'>
          <ul class='flex flex-col gap-y-5 sm:gap-y-4'>
            {sortedNews.map((p) => (
              <News news={p} />
            ))}
          </ul>
        </Section>
      )
    }

    <!-- <hr /> -->

    <!-- { -->
    <!--   allPostsByDate.length > 0 && ( -->
    <!--     <Section title='Latest Posts'> -->
    <!--       <ul class='flex flex-col gap-y-5 sm:gap-y-4'> -->
    <!--         {allPostsByDate.slice(0, 5).map((p) => ( -->
    <!--           <PostPreview post={p} maxDescWords={18} withDesc /> -->
    <!--         ))} -->
    <!--       </ul> -->
    <!--     </Section> -->
    <!--   ) -->
    <!-- } -->
  </div>
</PageLayout>
