---
export const prerender = true;

import Admonition from "@/components/Admonition.astro";
import PageLayout from "../layouts/BaseLayout.astro";

import { Content as FooterContent } from "../content/openings/footer.md";
import { Content as HeaderContent } from "../content/openings/header.mdx";

import { Content as FundedContent } from "../content/openings/funded.mdx";
import { Content as WesternContent } from "../content/openings/western.mdx";
---

<PageLayout meta={{ title: "Openings" }}>
  <div class="w-full">
    <div class="m-auto mt-8 max-w-[55rem] lg:flex lg:items-start lg:gap-x-16 xl:max-w-[55rem]">
      <article class="m-auto max-w-[40rem] flex-grow break-words">
        <div class="prose prose-base prose-neutral mt-12 max-w-[40rem] text-pretty font-sans text-base leading-6 dark:prose-invert dark:prose-dark prose-headings:font-bold prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none prose-inline-code:font-mono prose-inline-code:font-normal">
          <HeaderContent />

          <FundedContent />

          <WesternContent />

          <FooterContent />
        </div>
      </article>
    </div>
  </div>
</PageLayout>
