---
import PageLayout from '@/layouts/BaseLayout.astro'
import PublicationList from '@/components/PublicationList.astro'

// For sorting "Everything Else" < "ICLR" < "AISTATS" < "ICML" < "UAI" < "NeurIPS"
const CONF_VALS: Record<string, number> = { ICLR: 1, AISTATS: 2, ICML: 3, UAI: 4, NeurIPS: 5 }
function getConfVal(conf: string): number {
	if (conf in CONF_VALS) {
		return CONF_VALS[conf]
	} else {
		return 0
	}
}

import publications from '../../assets/publications.json'
import Section from '@/components/Section.astro'
const sortedPublications = publications.sort(
	(pub1, pub2) => pub2.year - pub1.year || getConfVal(pub2.venue) - getConfVal(pub1.venue)
)
---

<PageLayout meta={{ title: 'Publications' }}>
	<div class='w-full'>
		<!-- <TOC headings={} /> -->

		<h1 class='mb-6 mt-5 text-2xl font-bold'>Publication List</h1>

		<Section title='Conference' class='pt-12'>
			<div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
				<div class='w-full flex-wrap gap-x-4 gap-y-2'>
					<PublicationList
						publications={sortedPublications.filter((pub) => pub.type == 'conference')}
					/>
				</div>
			</div>
		</Section>

		<Section title='Journal' class='pt-12'>
			<div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
				<div class='w-full flex-wrap gap-x-4 gap-y-2'>
					<PublicationList
						publications={sortedPublications.filter((pub) => pub.type == 'journal')}
					/>
				</div>
			</div>
		</Section>

		<Section title='Workshop' class='pt-12'>
			<div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
				<div class='w-full flex-wrap gap-x-4 gap-y-2'>
					<PublicationList
						publications={sortedPublications.filter((pub) => pub.type == 'workshop')}
					/>
				</div>
			</div>
		</Section>

		<Section title='Preprint' class='pt-12'>
			<div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
				<div class='w-full flex-wrap gap-x-4 gap-y-2'>
					<PublicationList
						publications={sortedPublications.filter((pub) => pub.type == 'preprint')}
					/>
				</div>
			</div>
		</Section>
	</div>
</PageLayout>
