---
import PageLayout from "@/layouts/BaseLayout.astro";
import PublicationList from "@/components/PublicationList.astro";
import Section from "@/components/Section.astro";
import { sortPublicationFn } from "@/utils";
import type { Publication } from "@/utils";

interface Props {
  publications: Publication[];
}

import publications from "../../assets/publications.json";
const sortedPublications = publications.sort(sortPublicationFn);
---

<PageLayout meta={{ title: "Publications" }}>
  <div class='max-w-[50rem]'>
    <!-- <TOC headings={} /> -->

    <h1 class='mb-6 mt-5 text-2xl font-bold'>Publication List</h1>

    <p>
      In the field of machine learning, publishing in conferences is the norm. Top
      conferences includes NeurIPS (prev. NIPS), ICML, ICLR, AISTATS, UAI, and others.
      They are peer-reviewed and highly competitive.
    </p>

    <br />

    <p>
      The first or joint-first author (the latter is marked with a '*') of a paper is
      the lead author. The last or joint-last author is usually the one who came up with
      the idea and directed the project. They are all considered to be the core authors
      of the paper.
    </p>

    <Section title='Thesis' class='sm:pt-8'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "thesis")}
          />
        </div>
      </div>
    </Section>

    <Section title='Conference' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "conference")}
          />
        </div>
      </div>
    </Section>

    <Section title='Journal' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "journal")}
          />
        </div>
      </div>
    </Section>

    <Section title='Workshop' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "workshop")}
          />
        </div>
      </div>
    </Section>

    <Section title='Preprint' class='pt-12'>
      <div class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div class='w-full flex-wrap gap-x-4 gap-y-2'>
          <PublicationList
            publications={sortedPublications.filter((pub) => pub.type == "preprint")}
          />
        </div>
      </div>
    </Section>
  </div>
</PageLayout>
