---
import PageLayout from '@/layouts/BaseLayout.astro'
import TOC from '@/components/blog/TOC.astro'
import PublicationList from '@/components/PublicationList.astro'

// For sorting "Everything Else" < "ICLR" < "AISTATS" < "ICML" < "UAI" < "NeurIPS"
const CONF_VALS: Record<string, number> = { ICLR: 1, AISTATS: 2, ICML: 3, UAI: 4, NeurIPS: 5 }
function getConfVal(conf: string): number {
	if (conf in CONF_VALS) {
		return CONF_VALS[conf]
	} else {
		return 0
	}
}

import publications from '../../assets/publications.json'
const sortedPublications = publications.sort(
	(pub1, pub2) => pub2.year - pub1.year || getConfVal(pub2.venue) - getConfVal(pub1.venue)
)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<!-- <TOC headings={} /> -->

		<h1 class='mb-6 mt-5 text-2xl font-bold'>Publication List</h1>

		<div class='mt-5 flex w-full flex-col gap-y-3'>
			<div>
				<h2 class='mb-1 pt-5 text-xl font-bold'>Conference</h2>
			</div>
			<PublicationList
				publications={sortedPublications.filter((pub) => pub.type == 'conference')}
			/>
		</div>

		<div class='mt-5 flex w-full flex-col gap-y-3'>
			<div>
				<h2 class='mb-1 pt-10 text-xl font-bold'>Journal</h2>
			</div>
			<PublicationList publications={sortedPublications.filter((pub) => pub.type == 'journal')} />
		</div>

		<div class='mt-5 flex w-full flex-col gap-y-3'>
			<div>
				<h2 class='mb-1 pt-10 text-xl font-bold'>Workshop</h2>
			</div>
			<PublicationList publications={sortedPublications.filter((pub) => pub.type == 'workshop')} />
		</div>

		<div class='mt-5 flex w-full flex-col gap-y-3'>
			<div>
				<h2 class='mb-1 pt-10 text-xl font-bold'>Preprint</h2>
			</div>
			<PublicationList publications={sortedPublications.filter((pub) => pub.type == 'preprint')} />
		</div>
	</div>
</PageLayout>
