---
interface Props {
  kind: "warning" | "info" | "error" | "success";
}

const { kind } = Astro.props as Props;

const icons = {
  warning:
    "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z",
  error: "M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z",
  info: "M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z",
  success: "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z",
};

const classes = {
  warning: "alert alert-soft alert-warning border-orange-100 dark:border-orange-950",
  error: "alert alert-soft alert-error border-red-100 dark:border-red-950",
  info: "alert alert-soft alert-info border-blue-100 dark:border-blue-950",
  success: "alert alert-soft alert-success border-green-100 dark:border-green-950",
};

const labels = {
  warning: "Warning",
  error: "Danger",
  info: "Info",
  success: "Tip",
};
---

<div
  role='alert'
  class:list={[classes[kind] || classes.info, "!flex !flex-col !p-4 gap-1.5"]}
>
  <div class='flex flex-row self-start items-center gap-2 brightness-75'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-6 w-6 shrink-0 stroke-current'
      fill='none'
      viewBox='0 0 24 24'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d={icons[kind]}></path>
    </svg>

    <div class='font-bold uppercase'>{labels[kind]}</div>
  </div>

  <div class='text-left brightness-75 [&>p]:m-0'>
    <slot />
  </div>
</div>
