---
interface Props {
	imagePath: string
	altText: string
}

const { imagePath, altText = '' } = Astro.props
---

<figure class='sm:text-center'>
	<img src={imagePath} alt={altText} class='mx-auto drop-shadow sm:size-1/2' />
	{
		altText && (
			<figcaption>
				<span class='font-extrabold'>Fig.</span> &nbsp; {altText}
			</figcaption>
		)
	}
</figure>
