---
import PublicationCard from './PublicationCard.astro'

interface Props {
	publications: {
		type: string
		title: string
		author: string[]
		venue: string
		year: number
		href?: string
		note?: string
	}[]
}
const { publications } = Astro.props
---

<ul class='space-y-2'>
	{
		publications.map((pub) => (
			<li>
				<PublicationCard pub={pub} />
			</li>
		))
	}
</ul>
