---
layout: default
---

<!-- Page Header -->
<!--<header class="intro-header" style="position: relative; background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="overlay" {% if page.header-img == nil %}style="opacity: 0.5 !important;"{% endif %}></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>-->

<!-- Main Content -->
<div class="container page">
	<div class="col-md-10 col-md-offset-1">
		{{ content }}
	</div>
</div>

<hr>
