---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import PageLayout from "@/layouts/BaseLayout.astro";
---

<PageLayout meta={{ title: "Teaching" }}>
  <div class="w-full max-w-[50rem]">
    <h1 class="mb-6 mt-5 text-2xl font-bold">Teaching</h1>

    <br />
    <br />

    <Section title="Winter 2026">
      <Card
        heading="CS 9840B: Probablistic Generative AI"
        subheading="Western Computer Science Grad Course"
        date="Winter 2026"
        imagePath="/src/assets/probgenai.png"
        imageClass=""
        altText="CS 9840B"
        href="https://probgenai.kristia.de/"
      >
        From chatbots to image generators, Generative AI (GenAI) is reshaping
        the world. What algorithms and probabilistic principles power this
        revolution? This course introduces the theoretical and algorithmic
        foundations of GenAI, covering large language models (LLMs) and
        diffusion models, among more mature methods. We will also explore
        applications in AI for Science, such as drug discovery and weather
        forecasting.
      </Card>
    </Section>

    <!-- <Section title="Fall 2026" class="pt-12"> -->
    <!--   <Card -->
    <!--     heading="DS 3000/9000A: Introduction to Machine Learning" -->
    <!--     subheading="Western Computer Science Undergrad & Grad Course" -->
    <!--     date="Fall 2026" -->
    <!--     imagePath="/src/assets/probgenai.png" -->
    <!--     imageClass="" -->
    <!--     altText="DS 3000/9000A" -->
    <!--     href="https://introml.kristia.de/" -->
    <!--   > -->
    <!--     <p> -->
    <!--       Machine learning is reshaping the world—without knowing it, we are -->
    <!--       likely using machine learning models every day, from search engines to -->
    <!--       recommendation systems to smart devices to chatbots. What algorithms -->
    <!--       and principles power their effectiveness? How to build and use them -->
    <!--       effectively? This course introduces the basic principles, algorithmic, -->
    <!--       and practical foundations of machine learning. This course is the -->
    <!--       entry point for studying more sophisticated models and algorithms, -->
    <!--       such as large language models (LLMs), image generators, and autonomous -->
    <!--       agentic AI. -->
    <!--     </p> -->
    <!---->
    <!--     <br /> -->
    <!---->
    <!--     <p> -->
    <!--       At Western, this course is the prerequisite of CS 4451 (Foundations of -->
    <!--       Machine Learning), CS 4452 (Deep Learning in Computer Vision), and CS -->
    <!--       4453 (Introduction to Reinforcement Learning). -->
    <!--     </p> -->
    <!--   </Card> -->
    <!-- </Section> -->

    <!-- <Section title="Winter 2027" class="pt-12"> -->
    <!--   <Card -->
    <!--     heading="CS 4453B/9670B: Reinforcement Learning" -->
    <!--     subheading="Western Computer Science Undergrad & Grad Course" -->
    <!--     date="Winter 2027" -->
    <!--     imagePath="/src/assets/probgenai.png" -->
    <!--     imageClass="" -->
    <!--     altText="DS 3000/9000A" -->
    <!--     href="https://introml.kristia.de/" -->
    <!--   > -->
    <!--     <p> -->
    <!--       Machine learning is reshaping the world—without knowing it, we are -->
    <!--       likely using machine learning models every day, from search engines to -->
    <!--       recommendation systems to smart devices to chatbots. What algorithms -->
    <!--       and principles power their effectiveness? How to build and use them -->
    <!--       effectively? This course introduces the basic principles, algorithmic, -->
    <!--       and practical foundations of machine learning. This course is the -->
    <!--       entry point for studying more sophisticated models and algorithms, -->
    <!--       such as large language models (LLMs), image generators, and autonomous -->
    <!--       agentic AI. -->
    <!--     </p> -->
    <!---->
    <!--     <br /> -->
    <!---->
    <!--     <p> -->
    <!--       At Western, this course is the prerequisite of CS 4451 (Foundations of -->
    <!--       Machine Learning), CS 4452 (Deep Learning in Computer Vision), and CS -->
    <!--       4453 (Introduction to Reinforcement Learning). -->
    <!--     </p> -->
    <!--   </Card> -->
    <!-- </Section> -->

    <!-- <Section title="Past" class="pt-12"> -->
    <!--   <ul class="list bg-base-100 rounded-box border border-border"> -->
    <!--     <li class="list-row"> -->
    <!--       <div> -->
    <!--         <div class="font-semibold"> -->
    <!--           CS 9840B: Probabilistic Generative AI -->
    <!--         </div> -->
    <!--         <div class="text-muted-foreground text-sm">Winter 2026</div> -->
    <!--       </div> -->
    <!--     </li> -->
    <!--   </ul> -->
    <!-- </Section> -->
  </div>
</PageLayout>
